<div class="dashboard-requests-wrapper">
  <nav class="inner-tabs">
    <button
      type="button"
      class="tab-button"
      [class.active]="selectedTab() === 0"
      (click)="onTabClick(0)"
    >
      <mat-icon class="tab-icon">admin_panel_settings</mat-icon>
      <span class="tab-label-text">Admin Requests</span>
    </button>

    <button
      type="button"
      class="tab-button"
      [class.active]="selectedTab() === 1"
      (click)="onTabClick(1)"
    >
      <mat-icon class="tab-icon">person</mat-icon>
      <span class="tab-label-text">Membership Requests</span>
    </button>

    <button
      type="button"
      class="tab-button"
      [class.active]="selectedTab() === 2"
      (click)="onTabClick(2)"
    >
      <mat-icon class="tab-icon">history</mat-icon>
      <span class="tab-label-text">History</span>
    </button>
  </nav>

  <div class="inner-tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
