<div class="dashboard-requests-wrapper">
  <div class="inner-tabs">
    <mat-tab-group class="inner-tab-group samiti-nav-tabs" animationDuration="150ms" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-leading-icon">admin_panel_settings</mat-icon>
          <span>Admin Requests</span>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-leading-icon">person</mat-icon>
          <span>Membership Requests</span>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-leading-icon">history</mat-icon>
          <span>History</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="inner-tab-content samiti-nav-content">
    <router-outlet></router-outlet>
  </div>
</div>
