mat-dialog-content {
  p {
    margin: 0;
    padding: 8px 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .full-width {
    width: 100%;
    margin-top: 16px;
  }
}

mat-dialog-actions {
  button {
    margin-left: 8px;

    mat-spinner {
      display: inline-block;
    }
  }
}
